* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Kumbh Sans", sans-serif;
  box-sizing: border-box;
}

.container {
  padding: 25px 150px 100px 150px;
  /* background: gray; */
}
/* header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
#line {
  height: 2px;
  background: hsl(223, 64%, 98%);
  margin-top: 20px;
}
.nav ul {
  display: flex;
  flex-direction: row;
  color: hsl(219, 9%, 45%);
}
ul li {
  padding: 0 20px;
}
.account {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
/* header */

/* main section */
.main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: centers;
}
/* left div */
.left-div,.right-div{
  display: flex;
  flex-direction: column;
  flex: .75;
  padding: 4rem;
}
.image{
  display: flex;
}
.image img{
  width: 100%;
  border-radius: 10px
}
.collections{
  display: flex;
  flex-direction:row;
  width: 100%;
  padding: 1.5rem 0;
  justify-content: space-between
}
.collections img{
  width: 20%;
  height: 100%;
  border-radius: 5px;
}
.collections img:hover{
  opacity: .5;
  border: 2px solid hsl(26, 100%, 55%);
}

/* right div */
.right-div{
  gap: 15px;
  justify-content: center;
  align-items: flex-start;
}
.name {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: hsl(26, 100%, 55%);
  font-weight: 600;
}
.title-desc {
  font-weight: 800;
  font-size: 30px;
}
.desc {
  font-size: 16px;
  color: hsl(219, 9%, 45%);
  line-height: 30px;
}
.price-div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.price{
  display: flex;
  gap: 20px;
  align-items: center;
}
.price span:first-child{
  font-size: 20px;
  font-weight: 700;
}
.price span:last-child{
  background: hsl(25, 100%, 94%);
  font-size: 12px;
  border-radius: 3px;
  color: hsl(26, 100%, 55%);
  font-weight: bold;
  height: 15px;
  padding: 2px 5px;
}
del{
  color: hsl(219, 9%, 45%, .4);
  font-weight: 700;
  font-size: 14px;
}
.btn{
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}
.spin-box{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: hsl(223, 64%, 98%);
  flex: .5;
  padding: .8rem 0;
  border-radius: 5px;
}
.cartBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  background:hsl(26, 100%, 55%);
  flex: .8;
  border-radius: 5px;
  gap: 10px;
}
.cartBtn span{
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.cartBtn img{
  height: 13px;
  width: 15px;
}